.category-link {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}

.category-link img {
  height: 2rem;
}

.category-link span {
  font-size: 1.6rem;
  color: #000;
}

.category-link.active img {
  border-bottom: solid red 3px;
  padding-bottom: 2px;
}

.category-link.active span {
  color: red;
  font-weight: 500;
}
