.card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-height: 38rem;
}

.thumbnail-container {
  position: relative;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.video-duration {
  font-size: 1.3rem;
  color: #fff;
  position: absolute;
  right: 2%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.521);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}

.channel-name {
  font-size: 1.4rem;
  font-weight: 500;
}

.card-text .video-stats {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
}
