.upload-image {
  height: 2.6rem;
}
.more-image {
  height: 2.6rem;
}
.notification-image {
  height: 2.6rem;
}
.user-image {
  height: 3.6rem;
  border-radius: 50%;
}

/* ********************** */
/* BELOW 704px (Smaller tablets)*/
/* ********************** */
@media (max-width: 44em) {
  .upload-image,
  .more-image,
  .notification-image {
    display: none;
  }
}
