.recommended-videos-container {
  grid-column: 2;
  grid-row: 1 /-1;
  padding-right: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* ********************** */
/* BELOW 944px (Tablets)*/
/* ********************** */
@media (max-width: 59em) {
  .recommended-videos-container {
    display: none;
  }
}
