.comments-container {
  grid-column: 1;
  width: 100%;
  max-width: 93%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 5rem;
}

.comments-number {
  font-size: 1.5rem;
  font-weight: 600;
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
